# {{ ansible_managed }}
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ k8s_nfs_sc_name }}
provisioner: {{ k8s_nfs_provisioner_name }}
parameters:
  archiveOnDelete: "false"
